<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"   
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.warehouse.web.dao.order.OrderMapper">

	<insert id="addOrder">
		insert into `order`(id, delivery, status, create_date)
		values(#{id}, #{delivery}, 1, #{create_date, jdbcType=DATE})
	</insert>
	<insert id="addProduct">
		insert into order_product(order_id, product_id, product_name, count)
		values(#{order_id}, #{product_id}, #{product_name}, #{count})
	</insert>
	<select id="checkOrder" resultType="Map">
		select t.id,t.delivery,t.status,t.create_date,t.accept
		from `order` t where t.id = #{id}
	</select>
	<select id="queryList" resultType="Map">
		select t.id,t.delivery,t.status,t.create_date
		from `order` t
		where 1=1
		<if test="id != null and id != ''">
			and t.id like concat('%', #{id}, '%')
		</if>
		<if test="status != null and status != '-1'">
			and t.status = #{status}
		</if>
		<if test="create_date != null and create_date != ''">
			and t.create_date = #{create_date}
		</if>
		order by t.create_date desc, t.id
		limit ${page.num},${page.size}
	</select>
	<select id="queryCount" resultType="Integer">
		select count(*) from `order` t
		where 1=1
		<if test="id != null and id != ''">
			and t.id like concat('%', #{id}, '%')
		</if>
		<if test="status != null and status != '-1'">
			and t.status = #{status}
		</if>
		<if test="create_date != null and create_date != ''">
			and t.create_date = #{create_date}
		</if>
	</select>
	<select id="queryUnfinish" resultType="Map">
		select t.id,t.delivery,t.status,t.create_date
		from `order` t
		where t.status = 2
		and t.accept = #{accept}
		order by t.create_date desc, t.id
	</select>
	<select id="queryProducts" resultType="Map">
		select t.id,t.product_id,t.product_name,t.count,case product_id when '无' then 1 else 0 end as finish
		from order_product t
		where order_id = #{order_id}
	</select>
	<update id="accept">
		update `order`
		set update_date = now(), accept = #{accept}, status = #{new_status}
		where id = #{id} and status = ${old_status}
	</update>
	<select id="queryPie" resultType="Map">
		select t.status,count(*) cnt
		from `order` t
		where 1=1
		<if test="create_date != null and create_date != ''">
			and t.create_date = #{create_date}
		</if>
		group by t.status
	</select>
</mapper>